<div class="card">
    <div class="card-body">
<form action="POST" action="/admin/categories/new">
<h2>Adicione uma categoria</h2>
<label for="name">Nome:</label>
<input type="text" name="name" id="name" placeholder="Nome da Categoria" class="form-control">
<label for="slug">Slug:</label>
<input type="text" name="slug" id="slug" placeholder="Slug da Categoria"  class="form-control">
<br>
<button type="submit" class="btn btn-success">Criar</button>
</form>
</div>
</div>