<form action="/formAdd" method="POST">

    <h1>Formulário</h1>

    <label for="unidade">Unidade</label>
    <input type="text" name="unidade" id="unidade">
    <label for="url">Url</label>
    <input type="url" name="url" id="url">

    <button type="submit">Enviar</button>

</form>